
extends ../../layouts/backend_layout

block content 
    main.confirm-email-template(marginheight="0", topmargin="0", marginwidth="0", leftmargin="0")
        div(cellspacing="0", cellpadding="0", width="100%")
            row
                div
                    div.confirm-email-tbl(width="100%", cellpadding="0", cellspacing="0")
                        form#resend_link(method ="post") 
                            input(type='hidden' , name="email", value=user?user.email:'')
                            input(type='hidden' , name="id", value=user?user.id:'')
                            div.confirm-email-table(width="100%", cellpadding="0", cellspacing="0")
                                br
                                row
                                    img(src="/assets/img/logo_checkout.png" style="max-width: 300px;")
                                    div.confirm-email-td3
                                        h2 Forgot Password 
                                        h3
                                            | If you have an account, we'll email you a reset link.
                                        button.confirm-email-resend-link(type="submit")
                                            | RESEND LINK 
                                        <br>
                                           
block scripts
    script(type='text/javascript', src='/assets/js/custom/auth.js')