extends ../../layouts/backend_layout

block content 

    main
        .container
            section.section.register.min-vh-100.d-flex.flex-column.align-items-center.justify-content-center.py-4
                .container
                    .row.justify-content-center
                        .col-lg-4.col-md-6.d-flex.flex-column.align-items-center.justify-content-center
                            .d-flex.justify-content-center.py-4
                                a.logo.d-flex.align-items-center.w-auto(href="#")
                                    img(src='/assets/img/logo_checkout.png', alt='logo')
                                    
                            // End Logo
                            .card.mb-3
                                .card-body
                                    .pt-4.pb-2
                                        h5.card-title.text-center.pb-0.fs-4 Reset Passowrd
                                    form#verify_password.row.g-3.needs-validation(method="post" autocomplete="off")
                                        //- .col-12
                                        //-     label.form-label(for="otp") Otp
                                        //-     input#otp.form-control.required(type="text", name="otp")
                                        //-     .invalid-feedback Invalid Otp.
                                        .col-12
                                            label.form-label(for="password") Password
                                            input#password.form-control.required(type="password", name="password")
                                            .invalid-feedback Invalid Password
                                            div#password-strength-status   
                                        .col-12
                                            label.form-label(for="confirm_password") Confirm Passowrd
                                            input#confirm_password.form-control.required(type="password", name="confirm_password")
                                            .invalid-feedback Invalid Confirm Passowrd
                                        .col-12
                                            button#reset_pwd_btn.btn.btn-primary.w-100(type="submit" disabled ) Save
                                          
                                        .col-12
                                            p.small.mb-0
                                                a#go_back_login(href="/login" disabled) Go Back
block scripts
    script(type='text/javascript', src='/assets/js/custom/auth.js')